name: Run Tests

on: push

jobs:
  tests:
    name: Run Go Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: ">=1.18"

      - name: Run tests
        run: go test -v
